 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1039px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Alice;
  width: 525px;
  margin: 91px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 619px;
  margin: 50px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 373px;
}

.u-section-1 .u-container-layout-1 {
  padding: 4px 30px;
}

.u-section-1 .u-image-1 {
  width: 239px;
  height: 239px;
  background-image: url("images/ome-serious-unshaven-male-keeps-hands-together-dressed-dark-blue-shirt-has-talk-with-interlocutor-stands-against-white-wall1.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  margin: 41px auto 0;
  padding: 9px 14px 11px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 422px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin: 50px auto 0;
}

.u-section-1 .u-form-1 {
  height: 247px;
  width: 415px;
  margin: 0 auto;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 427px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 20px;
    width: 320px;
  }
}